@import url(reset.css);
@import url(menu.css);
@import url(tablet.css);
@import url(destop.css);
@import url(tv.css);

.titulo {
    font-size: 30px;
    text-align: center;
}
.subtitulo{
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.conteudo {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
.imgpost {
    height: 40vh;
    width: 60vh;
    padding: 5px 5px;
    border:8px inset var(--fundo-claro);
    padding:0px;
}